
    rules_version = '2';
    service cloud.firestore {
      match /databases/{database}/documents {
        // Allow read/write access to all documents for simplicity in emulation
        // WARNING: Do NOT use these rules in production!
        match /{document=**} {
          allow read, write: if true;
        }
      }
    }
    